.page {
  display: none;
}

#map {
  height: 60vh;
  width: 100%;
  margin: 0 auto;
}

.btn {
  width: 100%;
  max-width: 300px;
}

.btn-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafafa;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}
